body{
text-align: center;
background-color: #d0d5db;
}
h3{
font-size: 60px;
color: blue;
text-align: center;
}
h2{
  text-align: center;
  font-size: 55px;
  color: blue;
}
.kir{
  color: white;
  padding: 12px 20px;
  /* border: none; */
  border-radius: 4px;
  /* cursor: pointer; */
  float: left;
  /* background-color: Blue: */
 font-size: 45px;
 /* background-image: url("https://static01.nyt.com/images/2018/08/20/smarter-living/21sl-deskimprovements1/21sl-deskimprovements1-articleLarge.jpg?quality=75&auto=webp&disable=upscale"); */
}
.form{
background-color: blue;
/* background-repeat: no-repeat; */

}
.over{
  font-size: 40px;
  color: blue;
  font-family: sans-serif;
}
